* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 1150px;
    width: 100%;
}

.header_phone_number {
    height: 35px;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
}

.header_phone_number_1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    line-height: 1;
}

.haeder_phone_number_1:after {
    display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #00a650; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.haeder_phone_number_1:hover:after,
haeder_phone_number_1:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.header_phone_number_2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.header_phone_number_2_div,
.header_phone_number_1_div {
    display: flex;
    align-items: center;
}

.header {
    position: fixed;
}

.div_icon img {
    width: 50px;
    margin-top: 5px;
    margin-left: 85px;
    opacity: 80%;
    transition-duration: 0.6s;
}

.div_icon img:hover {
    opacity: 100%;
}

.div_nav ul {
    list-style: none;
    display: flex;
}

.div_nav li {
    margin-left: 20px;
}

.header_navigation {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e2e2;
    opacity: 90%;
}

.div_nav a {
    opacity: 80%;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    transition-duration: 0.6s;
    line-height: 0.5;
}


/*
.div_nav ul li {
    transform: 1s;
}
*/

.div_nav a:hover {
    opacity: 100%;
    transition-duration: 0.6s;
}

.div_nav a:after {
    background-color: black;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    transition: width .3s ease-in-out;
}

.div_nav a:hover:after,
a:focus:after {
    width: 100%;
}

.div_nav {
    margin-right: 100px;
}

.free {
    width: 100%;
    height: 95px;
    background-color: lightblue;
}